<!DOCTYPE html>
<html>
<head>
	<title>Form Registrasi</title>
    <link rel="stylesheet" href="main.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <h2>REGISTER</h2>
        <form action="#">           
            <input type="button" name="" value="Manager"> </br>
            <input type="button" name="" value="Penonton"> </br>
            <input type="button" name="" value="Panitia">
        </form>
        </div>
    </div>
</body>

</html>