<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="main.css">
</head>

<body>
    <nav>
        <div class="container">
            <h1>Manajer</h1>

            <div class="menu">
                <a href="#">Dashboard</a>
                <a href="#">Mengelola Tim</a>
                <a href="#">Peminjaman Stadium</a>
                <a href="#" class="is-active">List Pertandingan</a>
                <a href="#">History Rapat</a>
                <a href="#">Logout</a>
            </div>

            <button class="hamburger">
                <span class="material-icons">menu</span>
                <span></span>
                <span></span>
            </button>
        </div>
        
    </nav>

    <div class="mobile-menu">
        <a href="#" class="is-active">Dashboard</a>
        <a href="#">Mengelola Tim</a>
        <a href="#">Peminjaman Stadium</a>
        <a href="#">List Pertandingan</a>
        <a href="#">History Rapat</a>
        <a href="#">Logout</a>
    </div>

    <table>
        <tr>
            <th colspan="3">List Pertandingan</td>
        </tr>
        <tr>
            <th>Tim Bertanding</th>
            <th>Stadium</th>
            <th>Tanggal dan Waktu</th>
        </tr>
        <tr>
            <td>A vs B</td>
            <td>Camp Nou</td>
            <td>7 Juli 2023, 09.00 - 11.00</td>
        </tr>
        <tr>
            <td>A vs C</td>
            <td>Old Trafford</td>
            <td>12 Juli 2023, 18.00 - 20.00</td>
        </tr>
      </table>

    <script src="main.js"></script>
</body>
</html>