<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="main.css">
</head>

<body>
    <nav>
        <div class="container">
            <h1>Panitia</h1>

            <div class="menu">
                <a href="#" class="is-active">Dashboard</a>
                <a href="#">Rapat</a>
                <a href="#">Manage Pertandingan</a>
                <a href="#">Logout</a>
            </div>

            <button class="hamburger">
                <span class="material-icons">menu</span>
                <span></span>
                <span></span>
            </button>
        </div>

    </nav>

    <div class="menu">
        <a href="#" class="is-active">Dashboard</a>
        <a href="#">Rapat</a>
        <a href="#">Manage Pertandingan</a>
        <a href="#">Logout</a>
    </div>

    <table>
        <tr>
            <th colspan="2">Pilih Peristiwa Tim</td>
        </tr>
        <tr>
            <th>Nama Pemain</th>
            <th>Peristiwa</th>
        </tr>
        <tr>
            <td>
                <div>
                    <select class="classic" id="selector">
                        <option>Nick Folbigg</option>
                        <option>Gonzales Westcar</option>
                        <option>Boris Clipson</option>
                        <option>Lynn Andreia</option>
                        <option>-</option>
                    </select>
                </div>
            </td>
            <td>
                <div>
                    <select class="classic" id="selector">
                        <option> Kartu kuning </option>
                        <option> Kartu merah</option>
                        <option>Assist</option>
                        <option> Gol </option>
                        <option> - </option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" class="btn" value="SELESAI">
            </th>
        </tr>
    </table>

    <script src="main.js"></script>
</body>

</html>