<!DOCTYPE html>
<html>
<head>
	<title>Form Registrasi</title>
    <link rel="stylesheet" href="main.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <h2>BELI TIKET</h2>
        <form action="#"> 
            <div>
                <label for="selector">Jenis Tiket </label>
                <select class="classic" id="selector">
                    <option>VIP</option>
                    <option>Main East</option>
                    <option>Kategori 1</option>
                    <option>Kategori 2</option>
                </select>
            </div>     
            <div>
                <label for="selector">Pembayaran </label>
                <select class="classic" id="selector">
                    <option>Shopeepay</option>
                    <option>Gopay</option>
                    <option>Ovo</option>
                    <option>Dana</option>
                </select>
            </div>     
            <input type="button" name="" value="Beli">
        </form>
        </div>
    </div>
</body>

</html>